.item_light{
    color: #000;
    width: 100px;
    height: 100%;
    background: radial-gradient(circle,40px at 135px 135px rgba(0,0,0,0),rgba(0,0,0,1));
    animation:  move 1.6s linear infinite;
    transition: all ease-in-out .5s;
}
@keyframes move{
    0%{
        background: radial-gradient(circle 10px at 10px,rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1));
    }
    25%{
background: radial-gradient(circle 20px at 105px, rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1));
    }
    50%{
background: radial-gradient(circle 30px at 55px, rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1));
    }
    100%{
background: radial-gradient(circle 40px at 255px, rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1));
    }
}
.item_text{
    width: 400px;
}
.item_text span{
    font-size: 40px;
    font-weight: 800;
    margin: 0 8px;
    color: #faebd7;
    animation: spread 1s ease-in-out infinite alternate;
}
@keyframes spread{
    to{
        color: #ff0266;
        text-shadow: 20px 0 70px #ff0266;
    }
}
@for $i  from 1 through 8{
    span:nth-child(#{$i}){
        animation-delay:($i-1)*0.1s
    }
}
.olympic-rings{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    justify-content: center;
    transform-style: preserve-3d;
}
.ring{
    width: 100px;
    height: 100px;
    border: 10px solid #3884c2;
    border-radius: 50%;
    margin: 0 5px;
}
.ring:nth-child(2){
    border-color: #000;
    transform:translateZ(-1px) rotateX(2deg);
}
.ring:nth-child(3){
    border-color: #d83a31;
}
.ring:nth-child(4){
    border-color: #f9f649;
    transform-origin: center 25%;
    margin-top: -50px;
    transform: rotateX(1px);
}
.ring:nth-child(5){
    border-color: #55ac58;
    margin-top: -50px;
}